<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142588789867-ltcg1ahg7co8k9pn6p8o23tesl74lcn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142588789867-ltcg1ahg7co8k9pn6p8o23tesl74lcn4</string>
	<key>API_KEY</key>
	<string>AIzaSyAsLYV6nB-jFSM85agcIbYGcwp_XIxLBjw</string>
	<key>GCM_SENDER_ID</key>
	<string>142588789867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToeNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-multiplayers</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-multiplayers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142588789867:ios:feef170c0fae3245fc5d2e</string>
</dict>
</plist>